/* Universal Selector Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
}

h1 {
    color: white;
}

li:has(a) {
    color: white;

}

ul {
    background-color: #333;
    list-style: none;
    margin: 0;
    overflow: hidden;
    
}

li {
    color: black; 
    float: left; 
    padding: 3px;
    margin: 1px; 

}

li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */ 
li a:hover {
    background-color: #111;
}

/* CSS GRID  */
.container {
    max-width: 1100px;
    margin: 30px auto;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(2, 600px); 
    grid-template-rows: repeat(4, 400px);

}

.item {
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
}

/*Photo Alignment */ 

.Professor {
    align-items: center;
}

ul, li {
    background-color: green;
}