/* Add a dashed bottom border for .pic elements */
.pic {
  border-bottom: thin dashed darkgreen;
}

/* Use absolute positioning for image divs */
.imgdiv {
  position: absolute;
  display: none; /* Ensure imgdivs are hidden by default */
}

/* Styling for botanic names */
.botanic {
  color: darkgreen;
  font-style: italic;
  display: none; /* Ensure botanic names are hidden by default */
}

/* Styling for flower elements */
.flower {
  cursor: pointer; /* Add a pointer cursor to indicate clickable elements */
}